{% extends "@grid/page.html.twig" %}
{% set css = "forum" %}

{% block maincontent %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ site.getString(10) }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="forum__wrapper">
                    <div class="forum__header">
                        <div class="forum__title">{{ site.getString(6) }}</div>
                        <div class="forum__sub-title">{{ site.getString(7) }}</div>
                    </div>
                    <div class="forum__latest-posts">
                        <div class="forum__latest-posts-title">{{ site.getString(8) }}</div>
                        <div class="forum__latest-posts-list">
                            {% embed "Forum/front_post.html.twig" with { hidden: true } %}
                            {% endembed %}
                            {% for post in tile.getLatestPosts() %}
                                {% embed "Forum/front_post.html.twig" with { title: post.getTitle, content: post.getContent, author: post.getAuthor.getUsername, time_ago: post.getTimeAgo, date: post.getDate } %}
                                {% endembed %}
                            {% endfor %}
                            {% if tile.getLatestPosts is empty %}
                                <div class="forum__no-posts">{{ site.getString(9) }}</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if user.getLoggedIn %}
        <div class="container forum__new-post">
            <div class="row">
                <div class="col">
                    <a class="forum__new-post-btn">{{ site.getString(11) }}</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="forum__new-post-form">
                        <div class="forum__new-post-title">{{ site.getString(11) }}</div>
                        <div class="forum__new-post_input">
                            <label>
                                <input type="text" id="title" placeholder="{{ site.getString(14) }}"/>
                            </label>
                        </div>
                        <div class="forum__new-post_input">
                            <textarea id="content" placeholder="Content"></textarea>
                        </div>
                        <div class="forum__new-post_input">
                            <button id="submit">{{ site.getString(12) }}</button>
                            <button id="close">{{ site.getString(13) }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {{ site.renderPageTiles }}

{% endblock %}